<div style="text-align:center">
  <h1>
    Introduction to Subjects!
  </h1>
</div>

<app-bad-button></app-bad-button>
<app-good-button></app-good-button>

<h2>Subjects:</h2>
<button mat-raised-button color="primary" (click)="clickAddSub()">Add Subject Subscription</button>
<button mat-raised-button color="primary" (click)="subjectComplete()">Complete Subject Subscription</button>

<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile *ngFor="let sub of subjectSubscriptions;" [style.background]="'lightblue'">
    <div>
      <h3>{{sub.name}}</h3>
      <mat-list>
        <mat-list-item *ngFor="let d of sub.data;">
          {{d}}
        </mat-list-item>
      </mat-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<h2>Async Subjects:</h2>
<button mat-raised-button color="primary" (click)="clickAddAsync()">Add Async Subscription</button>
<button mat-raised-button color="primary" (click)="asyncComplete()">Complete Async Subscription</button>

<mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let sub of asyncSubscriptions;" [style.background]="'#c68dfc'">
      <div>
        <h3>{{sub.name}}</h3>
        <mat-list>
          <mat-list-item *ngFor="let d of sub.data;">
            {{d}}
          </mat-list-item>
        </mat-list>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

<h2>Behavior Subjects:</h2>
<button mat-raised-button color="primary" (click)="clickAddBehavior()">Add Behavior Subscription</button>
<button mat-raised-button color="primary" (click)="behaviorComplete()">Complete Behavior Subscription</button>

<mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let sub of behaviorSubscriptions;" [style.background]="'lightpink'">
      <div>
        <h3>{{sub.name}}</h3>
        <mat-list>
          <mat-list-item *ngFor="let d of sub.data;">
            {{d}}
          </mat-list-item>
        </mat-list>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

<h2>Replay Subjects:</h2>
<button mat-raised-button color="primary" (click)="clickAddReplay()">Add Replay Subscription</button>
<button mat-raised-button color="primary" (click)="replayComplete()">Complete Replay Subscription</button>

<mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let sub of replaySubscriptions;" [style.background]="'lightgreen'">
      <div>
        <h3>{{sub.name}}</h3>
        <mat-list>
          <mat-list-item *ngFor="let d of sub.data;">
            {{d}}
          </mat-list-item>
        </mat-list>
      </div>
    </mat-grid-tile>
  </mat-grid-list>